.trthlista{
    display: inline-block;
    margin-left: 25%;
    margin-right: auto;
    width: 250px;
    margin-top: 80px;
    font-size: 30px;


}
.prlhlista{
    display: inline-block;
    margin-left: 25%;
    margin-right: auto;
    width: 250px;
    margin-top: 80px;
    font-size: 30px;


}